@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;700;800&display=swap');

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html, body, #root {
    margin: 0 !important;
    padding: 0 !important;
    width: 100%;
    min-height: 100vh;
    overflow-x: hidden;
}

body {
    background-color: #ffffff;
    font-family: 'Montserrat', sans-serif;
    color: #333333;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

#root {
    display: flex;
    flex-direction: column;
}